<% layout('layouts/boilerplate') %>
    <%- include('partials/navbar') %>
        <p>F1 started in the 1950s.</p>
        <div id="videoContainer">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8AYy-BcjRXg"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>