<% layout('layouts/boilerplate') %>
    <%- include('partials/navbar') %>
        <section class="container-fluid introWelcome" id="introWelcome">
            <h1>
                Welcome to F1. Please enter your search query!
            </h1>
        </section>
        <style>
            @media(max-width:400px) {
                .driverTableContainer {
                    overflow-x: scroll;
                    width: 50%;
                }
            }
        </style>