<% layout('layouts/boilerplate') %>
    <%- include('partials/navbar')%>
        <h1 style="margin-left: 5em;">Standings</h1>
        <div class="container" id="tableContainer">

        </div>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/js/standingsScript.js"></script>