<% layout('layouts/boilerplate') %>
    <%- include('../partials/navbar') %>
        <form action="/login" method="POST">
            <label for="username"></label>
            <input type="text" id="username" name="username" placeholder="username" autocomplete="false">
            <label for="password"></label>
            <input type="password" id="password" name="password" placeholder="password" autocomplete="false">
            <button>LOGIN</button>
        </form>