<% layout('layouts/boilerplate') %>
    <%- include('../partials/navbar') %>
        <h1>Welcome to the forums page!</h1>
        <div class="container d-flex flex-columns">
        </div>
        <span id="username" hidden>
            <%=user.username %>
        </span>

        <form class="form">
            <ul class="posts row">
                <% for(message of messages) {%>
                    <li>
                        <%=message.message %> - <%= message.user.username %>
                    </li>
                    <% } %>
            </ul>

            <label for="message form-label"></label>
            <input class="message" type="text form-control" id="message">
            <button class="submitMessageBtn">Submit message</button>
        </form>
        <script src="/js/forumScript.js"></script>